<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add Bank Details Dashboard</title>
  <link rel="stylesheet" href="CSS_File/addBankStyle.css">
</head>
<body>
  
  
  <main>
    <h2>Add Bank Account</h2>
    <form action="addBankRegister">
      <label for="bankName">Bank Name:</label>
      <input type="text" id="bankName" name="bankName" required>
      
      
      <button type="submit">Add Bank Account</button>
    </form>
  </main>
</body>
</html>
