<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Card Details Dashboard</title>
  <link rel="stylesheet" type="text/css" th:href="@{/CSS_File/addCardDashboardStyle.css}" />
  </head>
<body>
  <header>
    <h1>Add Card Details Dashboard</h1>    
  </header>
  
  <main>
    <h2>Add Card Type Details</h2>
     <form th:action="@{/addCardRegister}"  th:object="${bank}">
      
      <input type="hidden" th:field="*{bankid}" id="bankid" name="bankid" readonly="readonly" >
      
      <label for="bankName">Bank Name:</label>
      <input type="text" th:field="*{bankName}" id="bankName" name="bankName" readonly="readonly">
      
      <label for="category">Category:</label>
      <select class="my-dropdown" name="categoryId">
            <option  th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
        </select>
      <label for="cardName">Card Name:</label>
      <input type="text" id="cardName" name="cardName" required>

		<label for="imagePath">Image Path:</label>
      <input type="text" id="imagePath" name="imagePath" placeholder="Like : hdfc_dinersclub premium.png *(Image Name)" required>
		
		<label for="urlPath">URL Path:</label>
      <input type="text" id="urlPath" name="urlPath" placeholder="Like : https://applyonline.hdfcbank.com/credit-cards/pre-approved-credit-cards#nbb" required>
		
      <button type="submit">Add Card</button>
    </form>
  </main>
</body>
</html>
