<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add Card Details Dashboard</title>
  <link rel="stylesheet" th:href="@{/CSS_File/addCardStyle.css}">
</head>
<body>
  <header>
    <h1>Add Card Details Dashboard</h1>
    
  </header>
  
  <main>
    <h2>Add Card Account</h2>
    <form>
      <label for="routing-number">Reward and Benefits</label>
      
      <a href="reward&Benefits?cardid=${cardid }">Click here</a>
    </form>
  </main>
</body>
</html>
