<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Balance Transfer</title>
	<link rel="stylesheet" href="/CSS_File/balanceTransfers.css">
</head>
<body>
	<form th:action="@{/balanceTransfer/update/{id}(id=${person.BalanceTransfersId})}" th:object="${person}" method="post">
		<div class="outer">
			<div class="heading">
				<p>Balance Transfer</p>
			</div>
		</div>
		<input type="hidden" id="cardid" name="cardid" th:field="*{BalanceTransfersId}" >
		
		
		<label >Intrest Free Period:</label>
		<input type="text" id="intrestFreePeriod" name="intrestFreePeriod" th:field="*{intrestFreePeriod}" required>

		<label >Post Balance Transfer:</label>
		<input type="text" id="postBalanceTransfer" name="postBalanceTransfer" th:field="*{postBalanceTransfer}" required>

		<label >0% Balance Transfer:</label>
		<input type="text" id="zeroPercentBalanceTransfer" name="zeroPercentBalanceTransfer" th:field="*{zeroPercentBalanceTransfer}" required>

		<label >EMI Payment:</label>
		<input type="text" id="emiPayment" name="emiPayment" th:field="*{emiPayment}" required>
		
		<label >Perpetual Balance Transfer:</label>
		<input type="text" id="perpetualBalanceTransfer" name="perpetualBalanceTransfer" th:field="*{perpetualBalanceTransfer}" required>

		<label >Travel:</label>
		<input type="text" id="travel" name="travel" th:field="*{travel}" required>

        <label >Domestic Lounge:</label>
		<input type="text" id="domesticLounge" name="domesticLounge" th:field="*{domesticLounge}" required>

		<label >International Lounge:</label>
		<input type="text" id="internationalLounge" name="internationalLounge" th:field="*{internationalLounge}" required>

        <label >Fuels:</label>
		<input type="text" id="fuels" name="fuels" th:field="*{fuels}" required>

		<input type="submit" value="Update">
	</form>
</body>
</html>
