<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fees And Charges</title>
	<link rel="stylesheet" href="/CSS_File/fees&Charges.css">
</head>
<body>
	<form th:action="@{/feesAndChargesRegister}" th:object="${card}">
		<div class="outer">
			<div class="heading">
				<p>Fees And Charges</p>
			</div>
		</div>
		<input type="hidden" id="cardid" name="cardid" th:field="*{cardid}" >
		
		<label >Card Name:</label>
		<input type="text" id="welcomeBenefits" name="welcomeBenefits" th:field="*{cardName}" readonly="readonly" required>
		
		<label >Joining Fee:</label>
		<input type="text" id="joiningFee" name="joiningFee" required>

		<label >Renewal Fee:</label>
		<input type="text" id="renewalFee" name="renewalFee" required>

		<label >Spend Based Waiver:</label>
		<input type="text" id="spendBasedWaiver" name="spendBasedWaiver" required>

		<label >Rewards Redemption Fee:</label>
		<input type="text" id="rewardsRedemptionFee" name="rewardsRedemptionFee" required>
		
		<label >Interest Rates:</label>
		<input type="text" id="interestRates" name="interestRates" required>

		<label >Foreign Currency Markup:</label>
		<input type="text" id="foreignCurrencyMarkup" name="foreignCurrencyMarkup" required>

		<label >Fuel Surcharge:</label>
		<input type="text" id="fuelSurcharge" name="fuelSurcharge" required>

		<label >Cash Advance Charge:</label>
		<input type="text" id="cashAdvanceCharge" name="cashAdvanceCharge" required>

        <label >Add On Card Fee:</label>
		<input type="text" id="addOnCardFee" name="addOnCardFee" required>


		<input type="submit" value="Submit">
	</form>
</body>
</html>
>