<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fees And Charges</title>
	<link rel="stylesheet" href="/CSS_File/fees&Charges.css">
</head>
<body>
	<form th:action="@{/feesAndCharges/update/}" th:object="${feesAndCharge}" method="post">
		<div class="outer">
			<div class="heading">
				<p>Fees And Charges</p>
			</div>
		</div>
		
		<input type="hidden" id="feesAndChargesId" name="feesAndChargesId" th:field="*{feesAndChargesId}" required>
		
		<label >Joining Fee:</label>
		<input type="text" id="joiningFee" name="joiningFee" th:field="*{joiningFee}" required>

		<label >Renewal Fee:</label>
		<input type="text" id="renewalFee" name="renewalFee" th:field="*{renewalFee}" required>

		<label >Spend Based Waiver:</label>
		<input type="text" id="spendBasedWaiver" name="spendBasedWaiver" th:field="*{spendBasedWaiver}" required>

		<label >Rewards Redemption Fee:</label>
		<input type="text" id="rewardsRedemptionFee" name="rewardsRedemptionFee" th:field="*{rewardsRedemptionFee}" required>
		
		<label >Interest Rates:</label>
		<input type="text" id="interestRates" name="interestRates" th:field="*{interestRates}" required>

		<label >Foreign Currency Markup:</label>
		<input type="text" id="foreignCurrencyMarkup" name="foreignCurrencyMarkup" th:field="*{foreignCurrencyMarkup}" required>

		<label >Fuel Surcharge:</label>
		<input type="text" id="fuelSurcharge" name="fuelSurcharge" th:field="*{fuelSurcharge}" required>

		<label >Cash Advance Charge:</label>
		<input type="text" id="cashAdvanceCharge" name="cashAdvanceCharge" th:field="*{cashAdvanceCharge}" required>

        <label >Add On Card Fee:</label>
		<input type="text" id="addOnCardFee" name="addOnCardFee" th:field="*{addOnCardFee}" required>
		

		<input type="submit" value="Update">
	</form>
</body>
</html>
>