<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Verify Password</title>
	<link rel="stylesheet" href="/CSS_File/passwordStyle.css">
</head>
<body>
	<form th:action="@{/verifyPassword}" method="post">
			<div class="userimage">
				<img src="/image/changepassword.png" width="70px">
				<h3>Welcome to here</h3>
				<label class="error" th:text="${error }" ></label>
			</div>
			<input type="hidden" id="id" name="id" th:value="${id}" / readonly="readonly"> 
			<input type="hidden" id="otp" name="otp" th:value="${otp}" / readonly="readonly"> 
			
			<label for="useridFirst">Enter OTP</label>
			<input type="password" placeholder="Enter OTP" id="userOtp" name="userOtp" required>
			
			<label for="useridFirst">Enter new Password</label>
			<input type="password" placeholder="Enter new password" id="useridFirst" name="useridFirst" required>
			
			
			<input type="submit">
	
			</form>
	
</body>
</html>