<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Header</title>
    <link rel="stylesheet" href="CSS_File/headerStyle.css">
</head>
<body>
  <section class="header-container">
      <div class="navbar-main">
          <div>
            <a href="home"><img class="nav-img" src="/image/creditCardCompare.png" alt="Company Logo"></a>
          </div>
          <div class="menu" >
              <a href="home" class="headerMenu">Home</a>
              <li class="dropdown">
                <a  class="dropbtn">Card Categories <img class="dropimg" alt="" src="/image/down-arrow.png" /></a>
                <div class="dropdownmain">
                  <div class="dropdown-content">
                    <a href="/categoriesPage/1" class="droplist">Best Credit Card</a>
                    <a href="/categoriesPage/2" class="droplist">Rewards</a>
                    <a href="/categoriesPage/3" class="droplist">CashBack</a>
                    <a href="/categoriesPage/4" class="droplist">Fuel</a>
                    <a href="/categoriesPage/5" class="droplist">LifeTime Free</a>
                    <a href="/categoriesPage/6" class="droplist">Secured</a>
                    <a href="/categoriesPage/7" class="droplist">Balance Transfer</a>
                    <a href="/categoriesPage/8" class="droplist">Low Interest</a>
                    <a href="/categoriesPage/9" class="droplist">Travel</a>
                    <a href="/categoriesPage/10" class="droplist">Domestic Lounge</a>
                    <a href="/categoriesPage/11" class="droplist">International Lounge</a>
                    <a href="/categoriesPage/12" class="droplist">International Transactions</a>	                
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a  class="dropbtn droplist">Card Issuer <img class="dropimg" alt="" src="/image/down-arrow.png" /></a>
                <div class="dropdownmain">
                  <div class="dropdown-content">
                    <a href="/categoriesPageBank/1" class="droplist">HDFC Bank</a>
                    <a href="/categoriesPageBank/4" class="droplist">AXIS Bank</a>
                    <a href="/categoriesPageBank/54" class="droplist">Bank Of Baroda</a>
                    <a href="/categoriesPageBank/6" class="droplist">IDFC</a>
                    <a href="/categoriesPageBank/2" class="droplist">SBI</a>
                    <a href="/categoriesPageBank/52" class="droplist">AU Bank</a>
                    <a href="/categoriesPageBank/3" class="droplist">ICICI</a>
                    <a href="/categoriesPageBank/57" class="droplist">CITI Bank</a>
                    <a href="/categoriesPageBank/7" class="droplist">RBL Bank</a>
                    <a href="/categoriesPageBank/59" class="droplist">Kotak Mahindra</a>
                    <a href="/categoriesPageBank/60" class="droplist">American Express</a>
                    <a href="/categoriesPageBank/61" class="droplist">Indusind Bank</a>
                    <a href="/categoriesPageBank/62" class="droplist">Standard Chartered</a>
                    <a href="/categoriesPageBank/5" class="droplist">HSBC</a>
                    <a href="/categoriesPageBank/8" class="droplist">Yes Bank</a>	                
                  </div>
                </div>
              </li> 
              <a href="contact" class="headerMenu">Contact</a>            
              <a href="about" class="headerMenu">About</a>            
              <a href="login" class="headerMenu">Login</a>                 
          </div> 
          <div class="social-icon">
            <a href="https://www.facebook.com/" target="_blank" class="media"><li class="fa fa-facebook facebook"></li></a>
            <a href="https://twitter.com/" target="_blank" class="media"><li class="fa fa-twitter twitter" ></li></a>
          </div> 
      </div>
  </section>
</body>
</html>