<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Form</title>
	<link rel="stylesheet" href="/CSS_File/register.css">
</head>
<body>
		<div class="container">
        <h1>LOGIN/SIGN UP</h1>

        <div class="loginpage">
            <div class="user">
                <img src="/image/user.png" width="70px" alt="">
                <a href="userLogin"><h3>User Login</h3></a>
            </div>

            <div class="team">
                <img src="/image/team.png" width="70px" alt="">
                <a href="teamLogin"><h3>Team Login</h3></a>
            </div>

            <div class="admin">
                <img src="/image/admin.png" width="70px" alt="">
                <a href="adminLogin"><h3>Admin Login</h3></a>
            </div>
        </div>
        <div class="back">
            <a href="back"><img src="/image/back.png" width="70px" alt=""></a>    
        </div>

    </div>
</body>
</html>
