<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reward and Benefits</title>
	<link rel="stylesheet" href="/CSS_File/reward&Benefits.css">
</head>
<body>
	<form th:action="@{/rewardBenefitsRegister}"  th:object="${card}">
		<div class="outer">
			<div class="heading">
				<p>Rewards And Benefits</p>
			</div>
		
			
		</div>
		<label >Card Name:</label>
		<input type="text" id="welcomeBenefits" name="welcomeBenefits" th:field="*{cardName}" readonly="readonly" required>
		
		<input type="hidden" th:field="*{cardid}" id="cardid" name="cardid"  >
		
		<label >Welcome Benefits:</label>
		<input type="text" id="welcomeBenefits" name="welcomeBenefits" required>

		<label >Rewards Rates:</label>
		<input type="text" id="rewardRate" name="rewardRate" required>

		<label >Movie and Dining:</label>
		<input type="text" id="movieAndDining" name="movieAndDining" required>
		
		<label >Reward Points:</label>
		<input type="text" id="rewardPoints" name="rewardPoints" required>

		<label >Travel:</label>
		<input type="text" id="travel" name="travel" required>

		<label >Domestic Lounge:</label>
		<input type="text" id="domesticLounge" name="domesticLounge" required>

		<label >International Lounge:</label>
		<input type="text" id="internationalLounge" name="internationalLounge" required>

		<label >Fuel:</label>
		<input type="text" id="fuel" name="fuel" required>
		
		<label >Golf:</label>
		<input type="text" id="golf" name="golf" required>
		
		<label >Insurance Benefits:</label>
		<input type="text" id="insuranceBenefits" name="insuranceBenefits" required>
		
		<label >Zero Liability Protection:</label>
		<input type="text" id="zeroLiabilityProtection" name="zeroLiabilityProtection" required>

		<input type="submit" value="Submit">
	</form>
</body>
</html>
