<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
	<title>Team Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/CSS_File/teamDashboardStyle.css">
	
</head>
<body>
	<header>
		<a class="headerTag" href="/teamDashboard1"><h1>Team Dashboard</h1></a>
		<nav>
			<ul>
				<li><a href="/logoutTeam">Logout</a></li></div> 
			</ul>
		</nav>
	</header>
	<main>
		<span class="userIdFirst">Hi <span class="userId" th:text="${session.userName}"></span><span>, Welcome back!</span></span>
		
			<section class="overview">
			<div class="firstSection">
				<div class="card">
					<h2>Add Bank Details</h2>
					<button ><a style="text-decoration:none" href="addBank">Click here</a></button>
					<h2>View All Cards Details</h2>
					<button><a style="text-decoration:none" href="teamDashboardDetails">View</a></button>
				</div>
				
				</div>
		<section class="user-list">
		<div class="first">
		
		
			
				<h2>Bank List</h2>
				<table>
					<thead>
						<tr>
							<th>Bank Name</th>
							<th>No of Card</th>
							<th>Action</th>
							<th>Add Card</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bank : ${bank}">
						<td th:text="${bank.bankName}"></td>
						<td th:text="${bank.noOfCards}"></td>
						<td><a style="text-decoration:none" th:href="@{/bankDetail/edit/{id}(id=${bank.bankid})}">Edit</a></td>					
						<td><a style="text-decoration:none" th:href="@{/addCardDashboard/{id}(id=${bank.bankid})}">click</a></td>
						</tr>
					</tbody>
				</table>
				</div>
				<section class="overview">
				<h2>Bank List Status</h2>
				<div class="card">
					<table>
					<thead>
						<tr>
							<th>Bank Name</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bank : ${bankStatus}">
						<td th:text="${bank.bankName}"></td>
						<td>Pending</td>					
						</tr>
					</tbody>
				</table>
				</div>
			</section>
			<section class="overview">
				<h2>Card List Status</h2>
				<div class="card">
				<table>
					<thead>
						<tr>
							<th>Bank Name</th>
							<th>Card Name</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="card : ${cardStatus}">
						<td th:text="${card.Bank.bankName}"></td>
						<td th:text="${card.cardName}"></td>
						
						<td>Pending</td>
						
						
						</tr>
						
					</tbody>
				</table>
				</div>
			</section>
			<div class="second">
				<h2>Card List</h2>
				<table>
					<thead>
						<tr>
							<th>Bank Name</th>
							<th>Card Name</th>
							<th>Action</th>
							<th>Reward & Benefit</th>
							<!-- <th>Balance Transfer</th>
							<th>Cashback</th>
							<th>Lifetime Free Creditcard</th> -->
							<th>Fees And Charges</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="card : ${card}">
						<td th:text="${card.Bank.bankName}"></td>
						<td th:text="${card.cardName}"></td>
						
						<td><a style="text-decoration:none" th:href="@{/card/edit/{id}(id=${card.cardid})}">Edit</a></td>
						
						<td><a style="text-decoration:none" th:href="@{/reward&Benefits/{id}(id=${card.cardid})}">Add</a>
						</td>
						
						<!-- <td><a style="text-decoration:none" th:href="@{/balanceTransfers/{id}(id=${card.id})}">Add</a>
						</td>
						
						<td><a style="text-decoration:none" th:href="@{/cashbacks/{id}(id=${card.id})}">Add</a>
						</td>
						
						<td><a style="text-decoration:none" th:href="@{/lifeTimeFreeCreditCard/{id}(id=${card.id})}">Add</a> 
						</td> -->
						
						<td><a style="text-decoration:none" th:href="@{/feesAndCharges/{id}(id=${card.cardid})}">Add</a>
						</td>
						</tr>
						
					</tbody>
				</table>
				</div>
			</section>
				
		</section>
		
	</main>
	<footer>
		<p>&copy; 2025 Team Dashboard</p>
	</footer>
</body>
</html>
