<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Form</title>
<link rel="stylesheet" href="/CSS_File/registrationStyle.css">
</head>
<body>
	<form action="/userAddRegister">
		<div class="userimage">
			<img src="/image/user_registration.png" width="70px">
			<h3>Welcome to User Registration</h3>
		</div>
		<label>Full Name</label> <input type="text" id="fullName"
			name="fullName" placeholder="Enter your Name" required> <label>User
			Id</label> <input type="text" id="userId" name="userId"
			placeholder="Enter your User ID" required> <label>Password</label>
		<input type="password" id="password" name="password"
			placeholder="Enter your password" required> <label>Mobile
			Number</label> <input type="number" onkeypress="if(this.value.length>9)" id="mobileNumber" name="mobileNumber"
			placeholder="Enter your number" required>

		<label>Email</label> <input type="email" id="email" name="email"
			placeholder="Enter your email" required>

		<div class="genderDiv">
			<label for="gender">Gender</label> <input type="radio" id="male"
				name="gender" value="male"> <label for="male">Male</label> <input
				type="radio" id="female" name="gender" value="female"> <label
				for="female">Female</label> <input type="radio" id="other"
				name="gender" value="other"> <label for="other">Other</label>
		</div>


		<label>Full Address</label> <input type="text" id="fullAddress"
			name="fullAddress" placeholder="Enter your address" required>



		<input type="submit" value="Submit">
	</form>
</body>
</html>
