<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Form</title>
	<link rel="stylesheet" href="/CSS_File/teamLogin.css">
</head>
<body>
	<form  >
		<div class="userimage">
			<img src="/image/userlogin.png" width="70px">
			<h3>Welcome to User Login</h2>
		</div>
		<label class="error" th:text="${error }" ></label>
		<label for="userId">User Id</label>
		<input type="text" placeholder="Enter your user Id" id="userId" name="userId" required>

		<label for="password">Password</label>
		<input type="password" id="password" placeholder="Enter your password" name="password" required>

		<a href=""><p>Forget Password</p></a>

		<input type="submit" value="Login">

		<p class="signup">Don't you have an account? <a href="userRegister" >Sign up</a></p>
	</form>
	
</body>
</html>
